# Visual Studio project files.
PornHub Downloader.pyproj
PornHub Downloader.sln
.vs

# Build data.
pornhub_dl/pornhub_dl.spec
PornHub Downloader.spec
pornhub_dl/build
Build/Release

# Python cache.
__pycache__

# Downloaded videos.
Downloads